<!DOCTYPE html>
<html>

<head>
    <title>Page non trouvée</title>
    <style>
        body {
            background-color: #f2e62b;
            /* Jaune */
        }

        h1 {
            color: #c22027;
            /* Rouge */
        }

        p {
            color: #c22027;
            /* Rouge */
            font-size: 18px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <h1>Erreur 404 - Page non trouvée</h1>
    <p>Désolé, la page que vous recherchez est introuvable.</p>
</body>

</html>